---
import type { Location } from "@lib/payload-types";
import WikiLayout from "@layouts/wiki.astro";
import WikiSlice from "@components/wiki-slice.astro";
import { slugify } from "@lib/utils";

import ProjectDetailsCard from "@components/project-details-card.astro";

interface Props extends Location {}

export async function getStaticPaths() {
  let data = await fetch("http://localhost:3000/api/locations");
  let locations: { docs: Location[] } = await data.json();

  return locations.docs.map((location) => {
    return {
      params: {
        slug: `${slugify(location.projectDetails.information.region)}/${
          location.slug
        }`,
      },
      props: {
        ...location,
      },
    };
  });
}

const { layout, locationName, projectDetails } = Astro.props;
---

<WikiLayout title={locationName}>
  <div slot='project-details'>
    <ProjectDetailsCard projectDetails={projectDetails} />
  </div>
  <h1>{locationName}</h1>
  <div>
    <WikiSlice content={layout} />
  </div>
</WikiLayout>
